/BitsharesRpc/obj/Debug
/BtsOnrampDaemon/bin/Debug
/BtsOnrampDaemon/obj/Debug
/BtsOnrampDaemon/*.suo
/RestLib/bin/Debug
/RestLib/obj/Debug
/BitsharesCore/bin/Debug
/BitsharesCore/obj/Debug
/BitsharesCoreUnitTests/bin/Debug
/BitsharesCoreUnitTests/obj/Debug
/bin/Debug
/UnitTestDebugging/bin/Debug
/UnitTestDebugging/obj/Debug
/obj/Debug
/MetaApiLib/bin/Debug
/MetaApiLib/obj/Debug
/NxtRoadrunner/bin/Debug
/NxtRoadrunner/obj/Debug
/UnitTests/bin/Debug
/UnitTests/obj/Debug
/UnitTestsDebugging/bin/Debug
/UnitTestsDebugging/obj/Debug
/BtsOnrampDaemon/BtsOnrampDaemon.csproj.user
