/BitsharesRpc/obj/Debug
/BtsOnrampDaemon/bin/Debug
/BtsOnrampDaemon/obj/Debug
/BtsOnrampDaemon/*.suo
/RestLib/bin/Debug
/RestLib/obj/Debug
/BitsharesCore/bin/Debug
/BitsharesCore/obj/Debug
/BitsharesCoreUnitTests/bin/Debug
/BitsharesCoreUnitTests/obj/Debug
/bin/Debug
/UnitTestDebugging/bin/Debug
/UnitTestDebugging/obj/Debug
/obj/Debug
/MetaApiLib/bin/Debug
/MetaApiLib/obj/Debug
/NxtRoadrunner/bin/Debug
/NxtRoadrunner/obj/Debug
/UnitTests/bin/Debug
/UnitTests/obj/Debug
/UnitTestsDebugging/bin/Debug
/UnitTestsDebugging/obj/Debug
/BtsOnrampDaemon/BtsOnrampDaemon.csproj.user
/BitsharesCore/bin/mono
/BitsharesCore/obj/mono
/BitsharesCoreUnitTests/bin/mono
/BitsharesCoreUnitTests/obj/mono
/BitsharesRpc/bin/mono
/BitsharesRpc/obj/mono
/BtsOnrampDaemon/bin/mono
/BtsOnrampDaemon/obj/mono
/RestLib/bin/mono
/RestLib/obj/mono
/UnitTestDebugging/bin/mono
/UnitTestDebugging/obj/mono
/BitsharesRpc/obj/Release
/RestLib/obj/Release
/WebDaemonShared/bin/Debug
/bin/mono
/bin/Release
/obj/Release
/obj/mono
/WebDaemonShared/obj/Debug
/WebDaemonShared/bin/Release
/WebDaemonShared/obj/Release
/WebDaemonShared/bin/mono
/WebDaemonShared/obj/mono
/MetaDaemonUnitTests/obj/Release
/MetaDaemonUnitTests/bin/Release
/MetaDaemonUnitTests/obj/Debug
/MetaDaemonUnitTests/bin/Debug
/MetaDaemon/obj/Release
/MetaDaemon/bin/Release
/MetaDaemon/obj/mono
/MetaDaemon/obj/Debug
/UnitTestDebugging/obj/Release
/MetaDaemon/bin/mono
/MetaDaemon/bin/Debug
/BtsOnrampDaemon/obj/Release
/BitsharesCoreUnitTests/obj/Release
/BitsharesCore/obj/Release
/NxtRoadrunner
/MetaApiLib
/UnitTestsDebugging
/UnitTests
/nunit
/MetaExchange.v12.suo
/MetaExchange.csproj.user
/BitsharesCore/bin/debug2nd
/BitsharesCore/obj/debug2nd
/BitsharesCoreUnitTests/bin/debug2nd
/BitsharesCoreUnitTests/obj/debug2nd
/BitsharesRpc/bin/debug2nd
/BitsharesRpc/obj/debug2nd
/BtsOnrampDaemon/bin/debug2nd
/BtsOnrampDaemon/obj/debug2nd
/MetaDaemon/bin/debug2nd
/MetaDaemon/obj/debug2nd
/MetaDaemonUnitTests/bin/debug2nd
/MetaDaemonUnitTests/obj/debug2nd
/Pathfinder/bin/Debug
/Pathfinder/bin/Release
/Pathfinder/bin/debug2nd
/Pathfinder/obj/Debug
/Pathfinder/obj/Release
/Pathfinder/obj/debug2nd
/RestLib/bin/debug2nd
/RestLib/obj/debug2nd
/UnitTestDebugging/bin/debug2nd
/UnitTestDebugging/obj/debug2nd
/WebDaemonShared/bin/debug2nd
/WebDaemonShared/obj/debug2nd
/BestPrice/bin/Debug
/BestPrice/bin/Release
/BestPrice/obj/Debug
/BestPrice/obj/Release
/BestPrice/bin/mono
/BestPrice/obj/mono
